:root {
  --vp-c-brand-lighter: #ffd7da;
  --vp-c-brand-light: #ff8b96;
  --vp-c-brand: #ff4757;
  --vp-c-brand-dark: #bf303d;
  --vp-c-brand-darker: #801d26;
}

@media (min-width: 960px) {
  .VPHero .VPImage {
    transform: scale(2.5) translateY(-1rem);
  }
}
